
/* 
=======================
GENERAL STYLES
=======================
*/

.bottom-border{
	border-bottom: 1px black solid;
	margin-bottom: 5px;
	padding: 10px;
}

.margins{
	margin-top: 60px;
}

.height{
	height: 40px;
}

.send-to-back{
	z-index: -1;
}
/* 
=======================
HEADER STYLES FOR PAGE
=======================
*/

.center{
	text-align: center;
	margin: auto;
}

.full-width, .row.full-width {
  width: 100%;
  max-width: 100%; 
}

.header{
	background-image: url('../img/grid_02.jpg');
	background-repeat: repeat-x;
}

h1{
	font-family: 'Righteous', cursive;
	font-size: 5em;
}

.banner-text{
	margin: 10% auto;
}

h2{
	font-family: 'Signika', sans-serif;
}

.icon-bar{
	box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.5);
}

/* 
=======================
STYLES FOR WORK SECTION
=======================
*/

.circle{
	width: 300px;
	height: 300px;
	background-image: url("../img/colorama2.jpg");
	border-radius: 100%;
	background-size: auto;
	border: 5px #9bd2a1 solid;
}

.image{
	width: 260px;
	height: 185px;
}

#slightly{
	background-image: url("../img/slightly.png");
}

#chrisdel{
	background-image: url("../img/chrisdel.png");
}

#bristle{
	background-image: url("../img/bristle.jpg");
}

/* 
=======================
COLOR SWATCHES
=======================
*/

#getty_1{color: #821c2f}
#getty_2{color: #272832}
#getty_3{color: #858a8a}
#getty_4{color: #efe8bb}
#getty_5{color: #2a7587}

#beach_1{background-color: #86c5a5}
#beach_2{background-color: #feec9e}
#beach_3{background-color: #fa5656}
#beach_4{background-color: #fdc34a}
#beach_5{background-color: #9bd2a1}









